body{
    background-image: url(password.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
footer{
    color: black;
    text-align: right;
    font-style: italic;
}